#mainWrap {
    width:1200px;
    height:768px;
    @include flex-column(center,center);
    #main {
        width:100%;
        height:100%;
        background:url(../images/main-screen-bg.png) no-repeat 0 0;
        position: relative;
        @include flex-column(flex-start,center);
        .close {
            top:-2px;
            right:20px;
        }
        .header {
            width:100%;
            height:90px;
            @include flex-row(space-between, center);
            background:url(../images/main-header-bg.png) no-repeat center top;
            margin-top: 3px;
            position: relative;
            z-index:2;
            user-select:none;
            .drag {
                position: absolute;
                z-index: 3;
                width: calc(100% - 50px);
                height: 25px;
                top:0;
                user-select:none;
                -webkit-app-region: drag;
            }
        }
        & > .wrapper {
            width: calc(100% - 25px);
            height: calc(100% - 128px);
            position: relative;
            z-index:1;
            margin-top: -6px;
            &::before {
                content: "";
                position: absolute;
                top: 0; 
                left: 0;
                width: 100%; 
                height: 100%;  
                opacity: .4; 
                z-index: -1;
                background:url(../images/main-wrapper-bg.jpg) no-repeat center center;
                background-size:cover;
            }
            .debug-log {
                position: absolute;
                bottom:20px;
                right:20px;
                width:400px;
                height:500px;
                border:$light-gold 1px solid;
                //padding-top:7px;
                z-index:5;
                @include flex-column(flex-start,flex-start);
                .wrapper {
                    width:calc(100% - 20px);
                    padding:10px;
                    flex:1;
                    background:rgba(0,0,0,.8);
                }
                p {
                    color:$gold-white;
                    font-size:0.857em;
                    strong {
                        font-weight: 400;
                    }
                    strong.error {
                        color:$normal-red
                    }
                    strong.download {
                        color:$light-gold
                    }
                }
                .debug-tabs {
                    @include flex-row(space-evenly,center);
                    width:100%;
                    background:rgba(255,255,255,.05);
                    border-top:$light-gold 1px solid;
                    div {
                        padding:5px 10px;
                        margin-right:1px;
                        background:rgba(0,0,0,.3);
                        color:$light-gold;
                        cursor:pointer;
                        flex:1;
                        text-align:center;
                        &.active {
                            color:$gold-white;
                            background:rgba(250, 187, 104, 0.3);
                        }
                        &:hover {
                            color:$gold-white;
                        }
                        &:last-child {
                            margin-right:0;
                        }
                    }
                    
                }
            }
        }
        .play-btn {
            width:276px;
            height:84px;
            background:url(../images/green-btn.png) no-repeat 0 0;
            border:0;
            outline:none;
            position: absolute;
            bottom: -3px;
            z-index:10;
            left: calc(50% - 138px);
            cursor: pointer;
            color:$gold-white;
            text-shadow: rgba(0,0,0,.3) 1px 0px 3px;
            font-size:2em;
            text-transform: uppercase;
            font-weight: 600;
            user-select: none;
            &:hover {
                background:url(../images/green-btn-hover.png) no-repeat 0 100%;
            }
            &.playing, &.launching, &.updating {
                background:url(../images/yellow-btn.png) no-repeat 0 0;
            }
            &.error {
                background:url(../images/red-btn.png) no-repeat 0 0;
            }
        }
        .footer-copyright {
            align-self: flex-end;
            padding-right:20px;
            padding-top:10px;
            color:$dark-gold;
            user-select:none;
            span {
                color:$text-color;
            }
        }
    }
    .userwrap {
        @include flex-row(flex-start, center);
        width:25%;
        #user {
            width:96px;
            height:104px;
            background:url(../images/user-frame-bg.png) no-repeat 0 0;
            margin-left:20px;
            margin-top:50px;
            .avatar {
                width:70px;
                height:70px;
                position: relative;
                margin-top: 10px;
                margin-left: 10px;
                background-size:contain;
                background-position: center;
                background-repeat: no-repeat;
                &::after {
                    content:'';
                    width:76px;
                    height:76px;
                    background:url(../images/user-avatar-overlay.png) no-repeat 0 0;
                    position: absolute;
                    top:0;
                    left:0;
                    z-index:2;
                }
            }
        }
        .username {
            color: $light-gold;
            text-shadow: rgba(0,0,0,.8) 1px 1px;
            max-width: 177px;
            overflow: hidden;
            span {
                text-transform: uppercase;
                color:$gold-white;
                font-size: 1.5em; 
            }
            div {
                font-size:1.2em;
                text-shadow: rgba(0,0,0,.8) 1px 1px;
                i {
                    font-style: normal;
                    font-family: Arial, Helvetica, sans-serif;
                }
            }
        }
    }
    .premium {
        width:25%;
        margin-right:18px;
        text-transform: uppercase;
        color:$gold-white;
        font-size: 1.5em;
        @include flex-row(flex-end, center);
        span {
            width:30px;
            height:30px;
            display:block;
            background:url(../images/lightbulb-notactive.png) no-repeat 0 0;
            &.active {
                background:url(../images/lightbulb-active.png) no-repeat 0 0;
            }
        }
    }
    .menu {
        @include flex-row(center, center);
        div {
            margin:0 10px;
            text-transform: uppercase;
            color:$light-gold;
            font-size:1.3em;
            cursor: pointer;
            text-shadow: rgba(0,0,0,.8) 1px 1px;
            transition: all .3s ease-in-out;
            &.active {
                color:$gold-white;
            }
            &:hover {
                color:$gold-white;
            }
        }
    }
    #main_row {
        display:grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 20px;
        width:100%;
        height:100%;
        padding:40px 14px 60px 14px;
        width:calc(100% - 28px);
        height:calc(100% - 100px);
        & > div {
            background:$darker-bg;
            border:$border-color 1px solid;
            &:last-child {
                @include flex-column(flex-start, flex-start);
                background:none;
                border:0;
                & > div {
                    background:$darker-bg;
                    border:$border-color 1px solid;
                    width:100%;
                    height:calc(50% - 10px);
                    &:first-child {
                        margin-bottom:20px;
                    }
                }
            }
            .wrapper {
                width:calc(100% - 40px);
                height:calc(100% - 40px);
                padding:20px;   
            }
        }
        #news {
            color:$text-color;
            .image {
                width:80px;
                flex-basis: 80px;
                flex-grow: 0;
                flex-shrink: 0;
                margin-right:20px;
                .wrapper {
                    background:rgba(0,0,0,.5);
                    border:$border-color 1px solid;
                    width:100%;
                    height:80px;
                    overflow: hidden;
                    padding:0;
                    @include flex-row(center,center);
                    position: relative;
                    img {
                        width: auto;
                        height:100%;
                    }
                    &::after {
                        content:'';
                        width:80px;
                        height:80px;
                        background:url(../images/user-avatar-overlay.png) no-repeat 0 0;
                        background-size: cover;
                        position: absolute;
                        top:0;
                        left:0;
                        z-index:2;
                    }               
                }
                .date {
                    margin-top:10px;
                    text-align:center;
                    font-family: Arial,
                    Helvetica,
                    sans-serif;
                    font-size: 0.8em;
                    user-select: none;
                }
            }
            .content {
                padding-right:20px;
                font-size:1.1em;
                user-select: none;
                a {
                    color:$gold-white;
                    text-decoration:none;
                    text-shadow: rgba(0,0,0,.8) 1px 1px;
                    &:hover {
                        text-decoration:underline;
                    }
                }
            }
            h2 {
                color:$gold-white;
                margin-bottom:10px;
                margin-top:0;
                user-select: none;
                text-shadow: rgba(0,0,0,.8) 1px 1px;
            }
            .news {
                @include flex-row(flex-start,flex-start);
                padding-bottom:40px;
            }
            .fulltext {
                position: absolute;
                width:100%;
                height:100%;
                top:0;
                left:0;
                z-index:5;
                user-select: none;
                .window-content {
                    width:80%;
                    height:90%;
                    margin:15px auto 0 auto;
                    background:#000;
                    background:$darker-bg-full;
                    border:$border-color 1px solid;
                    position: relative;
                    .close {
                        top: -15px;
                        right: 10px;
                    }
                    .body {
                        font-size:1.2em;
                        .date {
                            font-family: Arial,
                            Helvetica,
                            sans-serif;
                            font-size: 0.8em;
                            background:$dark-gold;
                            padding:5px;
                            color:$gold-white;
                            position: relative;
                            z-index: 2;
                        }
                        h2 {
                            color:$gold-white;
                            margin:0;
                            text-shadow: rgba(0,0,0,.8) 1px 1px;
                            padding:20px 10px;
                            background:rgba(0, 0, 0, .6);
                            background:linear-gradient(90deg, rgba(55, 8, 143, 0) 0%, rgba(0, 0, 0, .8) 50%, rgba(17, 17, 17, 0) 100%);
                            border-top:$border-color 1px solid;
                            border-bottom:$border-color 1px solid;
                            display:block;
                            width: 80%;
                            text-align:center;
                            position: relative;
                            z-index: 2;
                        }
                        .img-wrapper {
                            height:275px;
                            text-align: center;
                            background-size:cover;
                            background-repeat: no-repeat;
                            background-position: center;
                            position:relative;
                            width:calc(100% + 20px);
                            @include flex-column(center,center);
                            position: relative;
                            padding-bottom:25px;
                            &:after {
                                content:'';
                                width:100%;
                                height:100%;
                                background:rgba(0,0,0,.3);
                                position: absolute;
                                top:0;
                                left:0;
                                z-index:1;
                            }
                        }
                        .content {
                            padding:20px;
                        }
                    }
                }
            }
        }
        #server-status {
            color:$text-color;
            user-select: none;
            .wrapper {
                @include flex-column(center,center);
                background:url(../images/server-status-bg.png) no-repeat center center;
                background-size:cover;
            }
            .status-online {
                font-size:1.5em;
                @include flex-row(flex-start,center);
                width:80%;
                text-shadow: rgba(0,0,0,.8) 1px 1px;
                span {
                    width:30px;
                    height:30px;
                    display:block;
                    margin-left:10px;
                    &.online {
                        background:url(../images/lightbulb-active.png) no-repeat 0 0;
                    }
                    &.offline {
                        background:url(../images/lightbulb-notactive.png) no-repeat 0 0;
                    }
                }
            }
            .players-online {
                width:80%;
                margin-top:20px;
                font-size:1.5em;
                text-shadow: rgba(0,0,0,.8) 1px 1px;
                span {
                    color:$gold-white;
                }
            }
        }
    }
}