#mainWrap {
    width:1200px;
    height:768px;
    @include flex-column(center,center);
    #main {
        width:100%;
        height:100%;
        background:url(../images/main-screen-bg.png) no-repeat 0 0;
        position: relative;
        @include flex-column(flex-start,center);
        .close {
            top:-2px;
            right:20px;
        }
        .header {
            width:100%;
            height:90px;
            @include flex-row(space-between, center);
            background:url(../images/main-header-bg.png) no-repeat center top;
            margin-top: 3px;
            position: relative;
            z-index:2;
            user-select:none;
            .drag {
                position: absolute;
                z-index: 3;
                width: calc(100% - 50px);
                height: 25px;
                top:0;
                user-select:none;
                -webkit-app-region: drag;
            }
        }
        .wrapper {
            width: calc(100% - 25px);
            height: calc(100% - 128px);
            position: relative;
            z-index:1;
            margin-top: -6px;
            &::before {
                content: "";
                position: absolute;
                top: 0; 
                left: 0;
                width: 100%; 
                height: 100%;  
                opacity: .4; 
                z-index: -1;
                background:url(../images/main-wrapper-bg.jpg) no-repeat center center;
                background-size:cover;
            }
            .debug-log {
                position: absolute;
                bottom:20px;
                right:20px;
                width:400px;
                height:500px;
                border:$light-gold 1px solid;
                padding-top:7px;
                @include flex-column(flex-start,flex-start);
                .wrapper {
                    width:calc(100% - 20px);
                    padding:10px;
                    flex:1;
                    background:rgba(0,0,0,.8);
                }
                p {
                    color:$gold-white;
                    font-size:0.857em;
                    strong {
                        font-weight: 400;
                    }
                    strong.error {
                        color:$normal-red
                    }
                    strong.download {
                        color:$light-gold
                    }
                }
                .debug-tabs {
                    @include flex-row(space-evenly,center);
                    width:100%;
                    background:rgba(255,255,255,.05);
                    border-top:$light-gold 1px solid;
                    div {
                        padding:5px 10px;
                        margin-right:1px;
                        background:rgba(0,0,0,.3);
                        color:$light-gold;
                        cursor:pointer;
                        flex:1;
                        text-align:center;
                        &.active {
                            color:$gold-white;
                            background:rgba(250, 187, 104, 0.3);
                        }
                        &:hover {
                            color:$gold-white;
                        }
                        &:last-child {
                            margin-right:0;
                        }
                    }
                    
                }
            }
        }
        .play-btn {
            width:276px;
            height:84px;
            background:url(../images/green-btn.png) no-repeat 0 0;
            border:0;
            outline:none;
            position: absolute;
            bottom: -3px;
            z-index:10;
            left: calc(50% - 138px);
            cursor: pointer;
            color:$gold-white;
            text-shadow: rgba(0,0,0,.3) 1px 0px 3px;
            font-size:2em;
            text-transform: uppercase;
            font-weight: 600;
            &:hover {
                background:url(../images/green-btn-hover.png) no-repeat 0 0;
            }
        }
        .footer-copyright {
            align-self: flex-end;
            padding-right:20px;
            padding-top:10px;
            color:$dark-gold;
            user-select:none;
            span {
                color:$text-color;
            }
        }
    }
    .userwrap {
        @include flex-row(flex-start, center);
        width:25%;
        #user {
            width:96px;
            height:104px;
            background:url(../images/user-frame-bg.png) no-repeat 0 0;
            margin-left:20px;
            margin-top:50px;
            .avatar {
                width:76px;
                height:76px;
                position: relative;
                margin-top: 10px;
                margin-left: 10px;
                background-size:cover;
                background-position: center;
                &::after {
                    content:'';
                    width:76px;
                    height:76px;
                    background:url(../images/user-avatar-overlay.png) no-repeat 0 0;
                    position: absolute;
                    top:0;
                    left:0;
                    z-index:2;
                }
            }
        }
        .username {
            color: $light-gold;
            text-shadow: rgba(0,0,0,.8) 1px 1px;
            span {
                text-transform: uppercase;
                color:$gold-white;
                font-size: 1.5em; 
            }
            div {
                font-size:1.2em;
                text-shadow: rgba(0,0,0,.8) 1px 1px;
                i {
                    font-style: normal;
                    font-family: Arial, Helvetica, sans-serif;
                }
            }
        }
    }
    .premium {
        width:25%;
        margin-right:18px;
        text-transform: uppercase;
        color:$gold-white;
        font-size: 1.5em;
        @include flex-row(flex-end, center);
        span {
            width:30px;
            height:30px;
            display:block;
            &.active {
                background:url(../images/lightbulb-active.png) no-repeat 0 0;
            }
        }
    }
    .menu {
        @include flex-row(center, center);
        div {
            margin:0 10px;
            text-transform: uppercase;
            color:$light-gold;
            font-size:1.3em;
            cursor: pointer;
            text-shadow: rgba(0,0,0,.8) 1px 1px;
            transition: all .3s ease-in-out;
            &.active {
                color:$gold-white;
            }
            &:hover {
                color:$gold-white;
            }
        }
    }
}