#settings {
    padding:40px 14px 60px 14px;
    background:rgba(0,0,0,.5);
    position: absolute;
    width:calc(100% - 28px);
    height:calc(100% - 100px);
    left:0;
    top:0;
    h2 {
        color: $gold-white;
        margin-bottom: 30px;
        margin-top: 0;
        user-select: none;
        text-shadow: rgba(0, 0, 0, .8) 1px 1px;
    }
    & > .wrapper {
        width:calc(100% - 40px);
        height:calc(100% - 40px);
        padding:20px;
        background:$darker-bg;
        border:$border-color 1px solid;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
    }
    .settings-input {
        @include flex-row(flex-start,center);
        padding-bottom:40px;
        max-width:500px;
        label {
            color:$text-color;
            padding-right: 20px;
            font-size:1.2em;
            width:150px;
        }
        .vue-range-slider {
            flex:1;
        }
    }
    .vue-range-slider.slider-component {
        padding-left:0 !important;
        .slider {
            background-color:$light-gold;
            border-radius: 0;
            .slider-process {
                background-color:$green-normal;
                border-radius: 0;
            }
            .slider-dot {
                background:$gold-white;
                border-radius: 0;
                border:$light-gold 1px solid;
            }
            .slider-tooltip {
                background:$dark-gold;
                color:$gold-white;
                border-color:$dark-gold;
                font-family: Arial, Helvetica, sans-serif;
                font-size:1em;
            }
        }
    }
    select {
        border:$dark-gold 1px solid;
        background:transparent;
        border-radius: 5px;
        color:$gold-white;
        font-size:1rem;
        padding:2px 5px;
        outline:none;
        option {
            color:#000;
        }
    }
    .save-settings {
        padding:5px 10px;
        font-size:1.2em;
        border:$dark-gold 1px solid;
        background:transparent;
        color:$gold-white;
        outline:none;
        border-radius: 5px;
        cursor:pointer;
        transition: all .3s ease-in-out;
        &:hover {
            background:$dark-gold;
        }
    }
    label svg {
        cursor:pointer;
        path {
            fill:$gold-white;
        }
    }
}