#wiki {
    padding:40px 14px 60px 14px;
    background:rgba(0,0,0,.5);
    position: absolute;
    width:calc(100% - 28px);
    height:calc(100% - 100px);
    left:0;
    top:0;
    & > .wrapper {
        height:100%;
        padding:0px;
        display: grid;
        grid-template-columns: 1fr 3fr;
        column-gap: 20px;
        color:$text-color;
        & > .left {
            background:$darker-bg;
            border:$border-color 1px solid;
            .content {
                padding:10px;
            }
        }
        & > .right {
            background:$darker-bg;
            border:$border-color 1px solid;
            padding:10px;
        }
    }
}
.wiki-title {
    color:$gold-white;
    font-size: 2em;
    position: relative;
    user-select:none;
    height:69px;
    @include flex-row(center,flex-start);
    span {
        padding-top:10px;
    }
}
.wiki-content-list {
    p {
        font-size:1.3em;
        color:$gold-white;
        cursor:pointer;
        width:max-content;
        &:hover {
            text-decoration:underline;
        }
        &.active {
            text-decoration: underline;
        }
    }
}
.wiki-post {
    pre {
        white-space: pre-wrap;
        margin-bottom: 5px;
        margin-top: 5px;
        padding: 5px 10px;
        &.ql-syntax {
            background-color: #23241f;
            color: #f8f8f2;
        }
    }
}