@font-face {font-family: "Constantia";
    src: url("../fonts/Constantia.eot");
    src: url("../fonts/Constantia.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Constantia.woff2") format("woff2"),
    url("../fonts/Constantia.woff") format("woff"),
    url("../fonts/Constantia.ttf") format("truetype"),
    url("../fonts/Constantia.svg#Constantia V1") format("svg");
}
h1, h2,h3 {
    font-weight: normal;
}